.SearchBar{
display: flex; 
margin-top: 1.5rem;
margin-bottom: 1.5rem; 
flex-direction: row; 
justify-content: center; 

}
.sbLeft{
    display: flex; 
    gap: 1rem;
    padding: 10px; 
    flex-direction: row; 
    width: 75%;
    justify-content: center; 
    align-items: center; 
}
.sInput{
    padding: 0.5rem; 
    font-size: 1.25rem;
    line-height: 1.75rem; 
    font-weight: 300; 
    text-transform: capitalize; 
    width: 100%; 
    border: none;
    outline: none;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 

}
.sButton{
    border: none;
    text-decoration: none;
}
.sbRight{
    display: flex; 
    margin-right: 1rem; 
    flex-direction: row; 
    width: 25%;
    justify-content: center; 
    align-items: center; 
}
.icons{
    color: white;
    cursor: pointer;
}
.sbRight button, p {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px; 
    background:inherit
}