.headerButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.navButton{
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 1.5rem;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
    background:inherit
}